<header>
	<div class="container">
		<a href="https://github.com/pkempenaers/angularjs-dropdown-tree" class="btn btn-info pull-right gh-button-link">
			<strong>
				View project on
				<br />GitHub
			</strong>
		</a>
		<h1>AngularJS Dropdown Tree</h1>
	</div>
</header>

<section class="container">
	<p>
		AngularJS dropdown tree is a dropdown selection component specificaly build for options that can be ordered in a tree structure.
		On this page you can find a simple example and some documentation on how to configure the component.
	</p>
	<div class="instalation">
		<h2>Instalation</h2>
		<h3>Recomended</h3>
		<ol>
			<li>
				Using bower:
				<pre>bower install angularjs-dropdown-tree</pre>
			</li>
			<li>
				Using npm:
				<pre>npm install angularjs-dropdown-tree</pre>
			</li>
		</ol>
		<h3>Not recommended</h3>
		<ol>
			<li>
				Using rawgit: <a href="https://rawgit.com/pkempenaers/angularjs-dropdown-tree/master/component/component.js">link</a>
			</li>
			<li>
				Getting the source from <a href="https://github.com/pkempenaers/angularjs-dropdown-tree/archive/master.zip">here</a>
			</li>
		</ol>
	</div>
	<div class="example">
		<h2>Examlpe</h2>
		<dropdown-tree options="$ctrl.options"
									 selection-changed="$ctrl.selectionChanged(selection)"
									 settings="$ctrl.settings">
		</dropdown-tree>
		<div class="example-settings">
			<div>
				<h3>Example options</h3>
				<pre>{{$ctrl.options | json}}</pre>
			</div>
			<div>
				<h3>Example settings</h3>
				<div>
					<div>
						<label>
							selectionLimit:
							<input ng-model="$ctrl.settings.selectionLimit"
										 ng-change="$ctrl.changeSettings()" />
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox"
										 ng-model="$ctrl.settings.removeFromFront"
										 ng-change="$ctrl.changeSettings()" />
							removeFromFront
						</label>
					</div>
					<div>
						<label>
							displayProperty:
							<input ng-model="$ctrl.settings.displayProperty"
										 ng-change="$ctrl.changeSettings()" />
						</label>
					</div>
					<div>
						<label>
							childrenProperty:
							<input ng-model="$ctrl.settings.childrenProperty"
										 ng-change="$ctrl.changeSettings()" />
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox"
										 ng-model="$ctrl.settings.disableSearch"
										 ng-change="$ctrl.changeSettings()" />
							disableSearch
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox"
										 ng-model="$ctrl.settings.closeOnBlur"
										 ng-change="$ctrl.changeSettings()" />
							closeOnBlur
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox"
										 ng-model="$ctrl.settings.folderSelectable"
										 ng-change="$ctrl.changeSettings()" />
							folderSelectable
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h2>Documentation</h2>
		<div>
			<h3>Overview of attributes</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Name</td>
						<td>Required</td>
						<td>Type</td>
						<td>Use</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>options</td>
						<td>Yes</td>
						<td>Array of Objects</td>
						<td>The selectable options</td>
					</tr>
					<tr>
						<td>selection-changed</td>
						<td>Yes</td>
						<td>function(selection)</td>
						<td>Will be called every time the selection changes.</td>
					</tr>
					<tr>
						<td>settings</td>
						<td>No</td>
						<td>Object</td>
						<td>Configures the component</td>
					</tr>
					<tr>
						<td>selection</td>
						<td>No</td>
						<td>Array of Objects</td>
						<td>Can be used to set the selection externaly, all objects in the array should also be in the options Array.</td>
					</tr>
					<tr>
						<td>texts</td>
						<td>No</td>
						<td>Object</td>
						<td>Configures the static texts in the component</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h3>Options</h3>
			<p>
				Should be an array of objects with a name (or a property that can be used as a name), and optionaly an array of
				child objects with the same structure.
			</p>
		</div>
		<div>
			<h3>Settings</h3>
			<p>
				An object used to configure the component, all the properties are optional.
			</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Name</td>
						<td>Default value</td>
						<td>Type</td>
						<td>Use</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>displayProperty</td>
						<td>'name'</td>
						<td>string</td>
						<td>The property of the option that should be used to display it.</td>
					</tr>
					<tr>
						<td>childrenProperty</td>
						<td>'children'</td>
						<td>string</td>
						<td>The property that holds the child options.</td>
					</tr>
					<tr>
						<td>selectedClass</td>
						<td>['glyphicon', 'glyphicon-ok']</td>
						<td>string or array of string</td>
						<td>When an option is selcted a span is added with the classes configured</td>
					</tr>
					<tr>
						<td>folderClass</td>
						<td>['glyphicon', 'glyphicon-folder-open']</td>
						<td>string or array of strings</td>
						<td>Class of the span before the name of an option when the option is a folder and the folder is opened</td>
					</tr>
					<tr>
						<td>folderClosedClass</td>
						<td>['glyphicon', 'glyphicon-folder-close']</td>
						<td>string or array of strings</td>
						<td>Class of the span before the name of an option when the option is a folder and the folder is closed</td>
					</tr>
					<tr>
						<td>childClass</td>
						<td>['glyphicon', 'glyphicon-file']</td>
						<td>string or array of strings</td>
						<td>Class of the span before the name of an option when the option is not a folder</td>
					</tr>
					<tr>
						<td>closeOnBlur</td>
						<td>true</td>
						<td>boolean</td>
						<td>When true will close the dropdown when clicked outside of it.</td>
					</tr>
					<tr>
						<td>folderSelectable</td>
						<td>true</td>
						<td>boolean</td>
						<td>When true a folder is selectable otherwise only children can be selected</td>
					</tr>
					<tr>
						<td>disableSearch</td>
						<td>false</td>
						<td>boolean</td>
						<td>When false an input field that enables filtering the options will be available</td>
					</tr>
					<tr>
						<td>selectionLimit</td>
						<td>0</td>
						<td>int</td>
						<td>Limits the amount of options that can be selected at the same time (when 0, no limit)</td>
					</tr>
					<tr>
						<td>removeFromFront</td>
						<td>true</td>
						<td>boolean</td>
						<td>
							When selectoinLimit is set, defines if on selection the limit would
							be passed from where in the array an option should be removed (front/back)
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h3>Texts</h3>
			<p>
				An object used to configure the texts used in the component, all the properties are optional and strings.
			</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Name</td>
						<td>Default value</td>
						<td>Use</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>optionNames</td>
						<td>'items'</td>
						<td>Used in the dropdown-toggle to indicate what needs to be selected.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h3>Keyboard controls</h3>
			<p>
				The component offers some basic keyboard controls:
				<ul>
					<li>Navigate between options with arrow keys.</li>
					<li>Selecting options using Enter.</li>
					<li>Closing dropdown using Escape.</li>
				</ul>
				Also some more advanced controls are available:
				<ul>
					<li>
						When the search is focused:
						<ul>
							<li>When current selection doesn't match search, the search will be the new selection.</li>
							<li>When current selection matches the current search, the selection will be cleared.</li>
						</ul>
					</li>
				</ul>
			</p>
		</div>
	</div>
</section>
