<li ng-if="$ctrl.shouldBeVisible()">
	<div class="option"
			 ng-class="[
				{'folder': $ctrl.isFolder()},
			 ]">
		<div class="title">
			<span ng-if="$ctrl.isSelected()"
						ng-class="$ctrl.settings.selectedClass"></span>
			<span ng-if="$ctrl.isFolder() && !$ctrl.isSubFolder()"
						ng-click="$ctrl.toggleFolder()"
						ng-class="$ctrl.isOpen ? $ctrl.settings.folderClass : $ctrl.settings.folderClosedClass"></span>
			<span ng-if="$ctrl.isFolder() && $ctrl.isSubFolder()"
						ng-click="$ctrl.toggleFolder()"
						ng-class="$ctrl.isOpen ? $ctrl.settings.subClass : $ctrl.settings.subClosedClass"></span>
			<span ng-if="!$ctrl.isFolder()"
						ng-class="$ctrl.settings.childClass"></span>
			<span tabindex="-1" 
					 ng-click="(!$ctrl.isFolder() || $ctrl.settings.folderSelectable) && $ctrl.innerClicked($ctrl.option)"
					 ng-keydown="$ctrl.keyDown($event)"
					 class="focusable">
				{{$ctrl.getDisplayText()}}
			</span>
		</div>
		<ul class="children"
				 ng-if="$ctrl.isFolder() && ($ctrl.isOpen || ($ctrl.shouldBeVisible() && $ctrl.searchText.length !== 0))">
			<dropdown-tree-option-row ng-repeat="option in $ctrl.getChildOptions() | orderBy:$ctrl.settings.displayProperty:false:$ctrl.customCompare track by $index"
																option="option"
																settings="$ctrl.settings"
																option-clicked="$ctrl.innerClicked(option)"
																selected-options="$ctrl.selectedOptions"
																focus-next="$ctrl.focusNext()"
																focus-previous="$ctrl.focusPrevious()"
																catch-keydown="$ctrl.keyDown(event)"
																reset-focus-counter="$ctrl.resetFocusCounter(element)"
																search-text="{{$ctrl.searchText}}">
			</dropdown-tree-option-row>
		</ul>
	</div>
</li>