<li>
	<div class="option"
			 ng-class="[
				{'folder': $ctrl.isFolder()},
			 ]">
		<div class="title">
			<span ng-if="$ctrl.isSelected()"
						ng-class="$ctrl.settings.selectedClass"></span>
			<span ng-if="$ctrl.isFolder()"
						ng-click="$ctrl.toggleFolder()"
						ng-class="$ctrl.isOpen ? $ctrl.settings.folderClass : $ctrl.settings.folderClosedClass"></span>
			<span ng-if="!$ctrl.isFolder()"
						ng-class="$ctrl.settings.childClass"></span>
			<label tabindex="-1" 
						 ng-click="(!$ctrl.isFolder() || $ctrl.settings.folderSelectable) && $ctrl.innerClicked({innerOption: $ctrl.option})"
						 ng-keydown="$ctrl.keyDown($event)">
				{{$ctrl.getDisplayText()}}
			</label>
		</div>
		<ul class="children"
				 ng-if="$ctrl.isFolder() && $ctrl.isOpen">
			<dropdown-tree-option-row ng-repeat="option in $ctrl.getChildOptions() track by $index"
																option="option"
																settings="$ctrl.settings"
																option-clicked="$ctrl.innerClicked({innerOption: option})"
																selected-options="$ctrl.selectedOptions"
																focus-next="$ctrl.focusNext()"
																focus-previous="$ctrl.focusPrevious()"
																catch-keydown="$ctrl.catchKeydown(event)">
			</dropdown-tree-option-row>
		</ul>
	</div>
</li>